@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



.main_container{

animation: scroll 400s linear infinite;
  background: url("https://cdn.pixabay.com/photo/2020/01/16/12/02/digitization-4770296_960_720.jpg"), #111111;
  color: Hex #D65076;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;

  perspective: 1000px;
  perspective-origin: 50% 50%;
  position:absolute;
   z-index:-1;
   margin-left:auto;
   margin-right:auto

}

@keyframes scroll {
   100%{
    background-position:0px -5000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

}
body {

  font-family: 'Lato', sans-serif;
  margin: 0;


}
.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;


}
.container_success {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
	background-image: linear-gradient(to right, #0099f7, #f11712);


}

h1 {
	color: #6B5B95;
	margin-top: 18px;


}

h2 {
	margin-bottom: 15px;
	color: white;
	font-size: 1.8rem;

    z-index:1;
}

img {
  border-radius: 50%;



}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
	color:red;
	font-size: 1.8rem;

}

.logo {
	width: 200px;
	 height: 200px;
	display: block;
	margin: auto;
	background: url("/path") no-repeat;
	  text-indent: -9999px;
}




.form-group {
	margin: 1rem 0;
		font-size: 1.8rem;
		background-color:#4CAF50;


}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.6rem;
	border: 1px solid #6B5B95;
	background-color: #8ec3eb
}
.btn {
width: 100%;

margin-bottom:20px;
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.form_bg{
background-color:#4CAF50;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: purple;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: purple;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: urple;
}

form-group.radio_btn{
background-color:#4CAF50
}
.success_body{


  color: Hex #D65076;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;

  perspective: 1000px;
  perspective-origin: 50% 50%;
  position:absolute;
   z-index:-1;
   margin-left:auto;
   margin-right:auto;
   background-image: linear-gradient(to right, #0099f7, #f11712);
}