<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>RatingApp</title>
  </head>
  <body>
  <div class="main_container">
    <div class="container">
      <img src="../static/logo.png" alt="rating app" class="logo" />
      {% if message %}
      <h3 class="message">{{ message | safe }}</h3>
      {% endif %}
      <form action="/submit" method="POST" class="form_bg">
        <div class="form-group">
          <h2>Student Name</h2>
          <input
            type="text"
            name="student"
            placeholder="Name of the student"
          />
        </div>
        <div class="form-group">
          <h2>Instructor Name</h2>
          <select name="instructor">
            <option value="">Select Instructor</option>
            <option value="Alex Lee">Alex Lee</option>
            <option value="Sam Brown">Sam Brown</option>
            <option value="Mailee J">Mailee J.</option>
            <option value="Tracy K">Tracy K.</option>
            <option value="ames A">James A.</option>
            <option value="Xue">Xue </option>
          </select>
        </div>
        <div class="form-group">
          <h2>Cohort Name</h2>
          <input
            type="text"
            name="cohort_name"
            placeholder="Your cohort name here"
          />
        </div>


        <div class="form-group">
          <h2>What is your overall feedback about your Bootcamp experience </h2>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us about your experience!"
          ></textarea>
        </div>
                <div class="form-group">
          <h2>Please rate your Instructor</h2>
          1<input type="radio" name="rating" value="1" />
          2<input type="radio" name="rating" value="2" />
          3<input type="radio" name="rating" value="3" />
          4<input type="radio" name="rating" value="4" />
          5<input type="radio" name="rating" value="5" checked />
        </div>
        <input type="submit" value="Submit" class="btn" />
      </form>
    </div>
    </div>
  </body>
</html>
